
@{
    ViewData["Title"] = "Checkout";
    ViewData["PageTitle"] = "Checkout";
}

<div class="main-content">
    <div class="container container-ver2 space-padding-tb-30">
        <div class="row head-cart">
            <div class="col-md-4 space-30">
                <div class="item active center">
                    <p class="icon">01</p>
                    <h3>Shopping cart</h3>
                </div>
            </div>
            <!-- End col-md-4 -->
            <div class="col-md-4 space-30">
                <div class="item active center">
                    <p class="icon">02</p>
                    <h3>Check out</h3>
                </div>
            </div>
            <!-- End col-md-4 -->
            <div class="col-md-4 space-30">
                <div class="item center">
                    <p class="icon">03</p>
                    <h3>Order completed</h3>
                </div>
            </div>
            <!-- End col-md-4 -->
        </div>
    </div>
    <!-- End container -->
    <div class="cart-box-container check-out">
        <div class="container container-ver2">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="title-brand">BILLING ADDRESS</h3>
                    <form class="form-horizontal">
                        <div class="form-group col-md-6">
                            <label for="inputfname" class=" control-label">First Name <span class="color">*</span></label>
                            <input type="text" placeholder="Enter your first name..." id="inputfname" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputlname" class=" control-label">Last Name <span class="color">*</span></label>
                            <input type="text" placeholder="Enter your last name..." id="inputlname" class="form-control">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="inputcompany" class=" control-label">Company Name<span class="color">*</span></label>
                            <input type="text" placeholder="Enter your company name..." id="inputcompany" class="form-control">
                        </div>
                        <div>
                            <div class="form-group col-md-6">
                                <label for="inputemail" class=" control-label">Email<span class="color">*</span></label>
                                <input type="text" placeholder="Enter your email..." id="inputemail" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputphone" class=" control-label">Phone<span class="color">*</span></label>
                                <input type="text" placeholder="Enter your phone..." id="inputphone" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputcountry1" class=" control-label">COUNTRY<span class="color">*</span></label>
                            <select id="inputcountry1" name="inputcountry1" class="country form-control">
                                <option>COUNTRY 2</option>
                                <option selected="selected">COUNTRY 1</option>
                                <option>COUNTRY 3</option>
                                <option>COUNTRY 4</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputstreet" class=" control-label">Adress<span class="color">*</span></label>
                            <input type="text" placeholder="Enter your street address..." id="inputstreet" class="form-control space-20">
                            <input type="text" placeholder="Enter the apartment, floor, suite, etc..." id="inputapartment" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="inputcountry" class=" control-label">Town/City<span class="color">*</span></label>
                            <input type="text" placeholder="Enter your Town..." id="inputcountry" class="form-control space-20">
                        </div>
                        <div>
                            <div class="form-group col-md-6">
                                <label for="inputfState" class=" control-label">COUNTY <span class="color">*</span></label>
                                <input type="text" placeholder="Select your county..." id="inputfState" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputpostcode" class=" control-label">POSTCODE <span class="color">*</span></label>
                                <input type="text" placeholder="Enter your postcode..." id="inputpostcode" class="form-control">
                            </div>
                        </div>
                        <span class="form-check space-50">Create an account?</span>
                        <span class="form-check space-20">Ship to a different address?</span>
                    </form>


                </div>
                <!-- End col-md-8 -->
                <div class="col-md-6 space-30">
                    <div class="box">
                        <h3 class="title-brand">YOUR ORDER</h3>
                        <div class="info-order">
                            <div class="product-name">
                                <ul>
                                    <li class="head">
                                        <span class="name">PRODUCTS NAME</span>
                                        <span class="qty">QTY</span>
                                        <span class="total">SUB TOTAL</span>
                                    </li>
                                    <li>
                                        <span class="name">Modern Chair</span>
                                        <span class="qty">01</span>
                                        <span class="total">$520.00</span>
                                    </li>
                                    <li>
                                        <span class="name">Toldbod Lamp</span>
                                        <span class="qty">02</span>
                                        <span class="total">$190.00</span>
                                    </li>
                                    <li>
                                        <span class="name">Getama Sofa</span>
                                        <span class="qty">03</span>
                                        <span class="total">$270.00</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- End product-name -->
                            <ul class="product-order">
                                <li>
                                    <span class="left">CART SUBTOTAL</span>
                                    <span class="right">$980.00</span>
                                </li>
                                <li>
                                    <span class="left">SHIPPING & HANDLING</span>
                                    <span class="right">Free Shipping</span>
                                </li>
                                <li>
                                    <span class="left">ORDER TOTAL</span>
                                    <span class="right brand">$980.00</span>
                                </li>
                            </ul>
                        </div>
                        <!-- End info-order -->
                        <div class="payment-order box float-left">
                            <ul class="tabs">
                                <li>
                                    <i class="icon"></i>
                                    <h4>Direct Bank Transfer</h4>
                                    <p>
                                        Make your payment directly info our bank account. Please use your order ID as the
                                        payment reference. You product won't be shipped untill payment confiimation.
                                    </p>
                                </li>
                                <li>
                                    <i class="icon"></i>
                                    <h4>Cheque Payment</h4>

                                </li>
                                <li>
                                    <i class="icon"></i>
                                    <h4>PayPal</h4>
                                </li>
                                <li>
                                    <i class="icon"></i>
                                    <h4>I've raed and accept the </h4><a href="#" title="Temr & conditions">Temr & conditions</a>
                                </li>
                            </ul>
                        </div>
                        <a class="link-v1 box lh-50 rt full" href="#" title="PLACE ORDER">PLACE ORDER</a>
                    </div>
                </div>
            </div>
            <!-- End row -->
        </div>
        <!-- End container -->
    </div>
    <!-- End cat-box-container -->
</div>
<div class="container">
    <div class="newsletter-bottom center">
        <div class="items">
            <img class="img-responsive" src="~/assets/images/newsletter-bottom.jpg" alt="Newsllter">
            <div class="text">
                <h3>Sign Up Special Promotions</h3>
                <p>Get exclusive deals you wont find anywhere else straight to your inbox!</p>
                <form action="#" method="get" accept-charset="utf-8">
                    <input type="text" onblur="if (this.value == '') {this.value = 'Enter your email...';}" onfocus="if(this.value != '') {this.value = '';}" value="Enter your email..." class="input-text required-entry validate-email" title="Sign up for our newsletter" id="newsletter" name="email">
                    <button class="button button1 hover-white" title="Subscribe" type="submit">Join<i class="link-icon-white"></i></button>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- End newsletter -->

@section Scripts{
    <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="~/assets/js/engo-plugins.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="~/assets/js/store.js"></script>
}
